<footer class="footer">
  <div class="footer-content">
    <nav class="footer-nav">
      <a routerLink="/about">About Us</a>
      <a href="#products">Our Products</a>
      <a routerLink="/contact">Contact Us</a>
    </nav>

    <div class="social-icons">
      <button id="icons-hover">
        <i class="fa-brands fa-instagram"> <a routerLink="/insta"></a> </i>
      </button>
      <button id="icons-hover">
        <i class="fa-regular fa-envelope"> <a routerLink="/mail"></a> </i>
      </button>
    </div>

    <div class="copyright">© 2025 Strokesy. All rights reserved.</div>
  </div>
</footer>
