<div class="navbar">
  <span id="nav-ele">HOME</span>
  <span id="nav-ele">ABOUT</span>
  <span id="nav-ele">CONTACT</span>
</div>

<div class="banner">
  <div class="banner-text" *ngFor="let copy of copies">
    <span *ngFor="let copy of copies">{{ text }}</span>
  </div>
</div>

<div class="add">
  <div class="text1">Turn Blank Walls Into Statements</div>
  <div class="text2">Strokesy brings colors that speak louder than words..</div>
  <button class="shopNow">SHOP NOW</button>
</div>

<!-- <h1>FEW GLIMPSES</h1> -->
